.register-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(126, 176, 247);
}

.register-form {
  width: 50%;
  height: 50%;
  padding: 2em;
  border: solid 2px rgb(201, 178, 6);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.register-form-title {
  margin-bottom: 1em;
}

.register-form-email {
  padding: 0.8em;
  label {
    margin-right: 0.5em;
    font-weight: 600;
  }
  input {
    padding: 0.5em;
    border-radius: 10px;
    border: solid 1px black;
  }
}

.register-form-password {
  label {
    margin-right: 0.5em;
    font-weight: 600;
  }
  input {
    padding: 0.5em;
    border-radius: 10px;
    border: solid 1px black;
  }
  p {
    font-size: small;
    font-weight: 300;
  }
}

.register-form-button {
  padding: 0.3em;
  margin-top: 1em;
}

.register-form-errorMessage {
  color: red;
  font-weight: 700;
}

.register-form-successMessage {
  color: green;
  font-weight: 700;
}
